<video autoplay muted loop id="bg-video">
    <source src="/videos/video.mp4" type="video/mp4">
</video>

<div class="contenido">
    <h2>🌱 EcoPlantas</h2>

    <form method="post">
        <input type="email" name="correo" placeholder="Correo" required />
        <br /><br />

        <input type="password" name="password" placeholder="Contraseña" required />
        <br /><br />

        <button type="submit">Iniciar Sesión</button>

        <p>¿No tienes cuenta?</p>
        <a href="/Account/Register">Crear cuenta</a>
    </form>

    <p style="color:red">@ViewBag.Error</p>
</div>