<h2>♻️ Registrar Reciclaje</h2>

<form method="post">
    <input type="text" name="TipoMaterial" placeholder="Ej: Botellas" required />
    <br /><br />

    <input type="number" name="Cantidad" placeholder="Cantidad" required />
    <br /><br />

    <button type="submit">Registrar</button>
</form>