<div class="card">
    <h2>🌱 EcoPlantas</h2>

    <h3>Bienvenido @TempData["Usuario"]</h3>

    <p class="puntos">Puntos: @TempData["Puntos"]</p>

    <a class="btn" href="/Reciclaje/Crear">♻️ Registrar reciclaje</a>
</div>